body{
	background: url(../img/brushed_alu.png);
}
.dropdown-content li > a, .dropdown-content li > span{
	color: #1e88e5 !important;
}
.text-center{
	display: block;
	text-align: center;
}
.btn-center{
	text-align: center;
	margin:auto;
	display: block;
}
.login-container{
	border-top:4px solid #444;
	margin-top:100px; 
}
.form-container{
	border-top:4px solid #444;
	margin-top:40px; 	
}
.card-heading{
	position: relative;
	display: block;
	clear: both;
	float: left;
	color: white;
	padding:0;
	width: 100%;
	text-align: left;
	padding-left: 100px;
}
.css-shapes-preview{ 
    position: relative; 
    height: 0px; 
    width: 0px; 
    border-top: 40px solid #444; 
    border-left: 40px solid #444; 
    border-right: 40px solid transparent; 
    border-bottom: 40px solid transparent; 
}
.nav-wrapper{
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
	
}